.property-tabs-wrapper {
    width: 70px;
    height: 500px;

    .ant-tabs-nav {
        width: 100%;

        .ant-tabs-nav-list {

            .ant-tabs-tab {
                padding: 8px 6px !important;
                margin: 0 !important;
    
                .ant-tabs-tab-btn {
                    width: 100%;
                    text-align: center;
                }
    
                .ant-tabs-tab-remove {
                    margin-left: 0 !important;
                }
            }

            :last-of-type(.ant-tabs-tab) {
                .ant-tabs-tab-remove {
                    display: none;
                }
            }
    
            /* .ant-tabs-tab-active {
                background-color: rgb(228, 227, 226);
            } */
        }
    }

    .ant-tabs-content-holder {

        .ant-tabs-tabpane {
            padding-left: 8px !important;
        }
    }
}

.property-wrapper {
    display: flex;
    
    .properties-content-wrapper {
        padding-left: 3%;
    
        .start-end-width-wrapper {
            display: flex;
            justify-content: flex-start;
        }
    
        .platform-length-wrapper {
            display: flex;
            justify-content: flex-start;
    
            .lock-button {
                margin-left: 10px;
            }
        }
    
        .lock-button {
            svg:hover {
                background-color: rgb(228, 226, 222);
            }
        }
    }
}