.property-wrapper {
    display: flex;
    height: 520px;
    overflow-y: scroll;
    border-bottom: 1px solid black;
    padding-left: 4px;

    .collapse-wrapper {
        width: 100%;
    }

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        height: 1px;
        background-color: rgba(3, 9, 17, 0.2);
    }

    .ant-collapse {
        width: 100%;

        .ant-collapse-header {
            padding: 8px 8px;
        }

        .ant-collapse-content-box {
            padding: 0 !important;
        }
    }

    .handrail-property-wrapper {
        padding-left: 2%;

        .handrail-property {
            .rail-property {
                .rail-param-property {
                    padding-left: 40%;

                    .rect-param {
                        display: flex;
                    }
                }
            }

            .column-property {
                .column-param-property {
                    padding-left: 40%;

                    .rect-param {
                        display: flex;
                    }
                }
            }
        }
    }

    .stairs-property-wrapper {
        display: flex;

        .property-tabs-wrapper {
            width: 70px;
            height: 400px;

            .ant-tabs-nav {
                width: 100%;

                .ant-tabs-nav-list {
                    .ant-tabs-tab {
                        padding: 8px 6px !important;
                        margin: 0 !important;

                        .ant-tabs-tab-btn {
                            width: 100%;
                            text-align: center;
                        }

                        .ant-tabs-tab-remove {
                            margin-left: 0 !important;
                        }
                    }

                    :last-of-type(.ant-tabs-tab) {
                        .ant-tabs-tab-remove {
                            display: none;
                        }
                    }

                    /* .ant-tabs-tab-active {
                        background-color: rgb(228, 227, 226);
                    } */
                }
            }

            .ant-tabs-content-holder {
                .ant-tabs-tabpane {
                    padding-left: 8px !important;
                }
            }
        }


        .properties-content-wrapper {
            padding-left: 3%;

            .separate-properties {
                height: 150px;

                .start-end-width-wrapper {
                    display: flex;
                    justify-content: flex-start;
                }

                .platform-length-wrapper {
                    display: flex;
                    justify-content: flex-start;

                    .lock-button {
                        margin-left: 10px;
                    }
                }
            }

            .overall-properties {
                height: 150px;
            }

            .lock-button {
                svg:hover {
                    background-color: rgb(228, 226, 222);
                }
            }
        }
    }
}