.tools-wrapper {
    width: 80%;
    height: 26px;
    /* padding: 0 8%; */
    margin: 10px 0 0 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
        
    .button-wrapper {
        height: 35px;
        width: 40px;
        /* padding: 0 10%; */
        /* margin-top: 10px; */

        margin: 0 10px;
        border-radius: 4px;
        cursor: pointer;

        .button {
            border-radius: 8px;
            cursor: pointer;
            font-size: 14x;
            text-align: center;
            width: 100%;
            background-color: #dbdee1;

            .svg-icon {
                width: 100%;
                height: 100%;
            }
        }

        button:disabled {
            cursor: not-allowed;
        }

        .button-normal {
            border: 1px solid #534f4f;
            box-shadow: 3px 3px #222;
        }
        
        .button-active {
            margin: 3px 0 0 3px;
            border: 2px solid #000;
        }

        .button-normal:hover {
            margin: 1px 0 0 1px;
            border: 1px solid #4e4c4c;
            box-shadow: 2px 2px #222;
        }
    }
}